@import url("https://fonts.cdnfonts.com/css/gilroy-light");
@import url("https://fonts.cdnfonts.com/css/gilroy-bold");
@import url("https://fonts.cdnfonts.com/css/gilroy-heavy");
@import url("https://fonts.cdnfonts.com/css/gilroy-medium");
@import url("https://fonts.cdnfonts.com/css/gilroy-regular");
@import url("https://fonts.cdnfonts.com/css/gilroy-semibold");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/gilroy-light");
@import url("https://fonts.cdnfonts.com/css/gilroy-bold");
@import url("https://fonts.cdnfonts.com/css/gilroy-heavy");
@import url("https://fonts.cdnfonts.com/css/gilroy-medium");
@import url("https://fonts.cdnfonts.com/css/gilroy-regular");
@import url("https://fonts.cdnfonts.com/css/gilroy-semibold");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/gilroy-light");
@import url("https://fonts.cdnfonts.com/css/gilroy-bold");
@import url("https://fonts.cdnfonts.com/css/gilroy-heavy");
@import url("https://fonts.cdnfonts.com/css/gilroy-medium");
@import url("https://fonts.cdnfonts.com/css/gilroy-regular");
@import url("https://fonts.cdnfonts.com/css/gilroy-semibold");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/gilroy-light");
@import url("https://fonts.cdnfonts.com/css/gilroy-bold");
@import url("https://fonts.cdnfonts.com/css/gilroy-heavy");
@import url("https://fonts.cdnfonts.com/css/gilroy-medium");
@import url("https://fonts.cdnfonts.com/css/gilroy-regular");
@import url("https://fonts.cdnfonts.com/css/gilroy-semibold");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/gilroy-light");
@import url("https://fonts.cdnfonts.com/css/gilroy-bold");
@import url("https://fonts.cdnfonts.com/css/gilroy-heavy");
@import url("https://fonts.cdnfonts.com/css/gilroy-medium");
@import url("https://fonts.cdnfonts.com/css/gilroy-regular");
@import url("https://fonts.cdnfonts.com/css/gilroy-semibold");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/gilroy-light");
@import url("https://fonts.cdnfonts.com/css/gilroy-bold");
@import url("https://fonts.cdnfonts.com/css/gilroy-heavy");
@import url("https://fonts.cdnfonts.com/css/gilroy-medium");
@import url("https://fonts.cdnfonts.com/css/gilroy-regular");
@import url("https://fonts.cdnfonts.com/css/gilroy-semibold");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/gilroy-light");
@import url("https://fonts.cdnfonts.com/css/gilroy-bold");
@import url("https://fonts.cdnfonts.com/css/gilroy-heavy");
@import url("https://fonts.cdnfonts.com/css/gilroy-medium");
@import url("https://fonts.cdnfonts.com/css/gilroy-regular");
@import url("https://fonts.cdnfonts.com/css/gilroy-semibold");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
body {
  font-family: "Inter", sans-serif;
  background-color: #F5F3EA;
  color: #252525;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header__logo--wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}

.header__logo {
  display: inline-block;
}

.logo-name {
  display: none;
  color: #000;
  font-size: 35px;
  letter-spacing: -0.02em;
  text-align: center;
  position: relative;
}
.logo-name--bold {
  font-family: "Gilroy-Bold", sans-serif;
  font-weight: 800;
  vertical-align: bottom;
}
.logo-name--caps {
  font-family: "Gilroy-Medium", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  vertical-align: bottom;
}
.logo-name--symbol {
  font-size: 25px;
  position: absolute;
  top: 2px;
  right: -25px;
}

.header__menu {
  text-transform: uppercase;
  font-family: "Gilroy-SemiBold", sans-serif;
  font-weight: 400;
  font-size: 25px;
  text-align: center;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .header {
    padding: 40px 30px;
  }
  .header__logo {
    padding: 4px;
  }
  .logo-name {
    display: inline-block;
  }
}
@media (min-width: 1200px) {
  .header {
    padding: 40px 70px 30px 70px;
  }
  .header__logo {
    padding: 4px;
  }
  .logo-name {
    display: inline-block;
  }
}
.section-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.section-intro__title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #252525;
  font-size: 47px;
  padding: 10px 20px 14px;
}
.section-intro__title--bold {
  display: block;
  font-family: "Gilroy-SemiBold", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}
.section-intro__title--light {
  display: block;
  font-family: "Gilroy-Light", sans-serif;
  font-weight: 300;
  text-transform: capitalize;
}
.section-intro__title--icon {
  padding-top: 30px;
}

.section-intro__image--mobile {
  display: block;
  width: 100%;
  height: 67vh;
  object-fit: cover;
}

.section-intro__image--tablet,
.section-intro__image--screen {
  display: none;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .section-intro__title {
    font-size: 98px;
    padding: 0px 70px 40px;
  }
  .section-intro__image--tablet {
    display: block;
    width: 100%;
    height: 67vh;
    object-fit: cover;
  }
  .section-intro__image--mobile,
  .section-intro__image--screen {
    display: none;
  }
}
@media (min-width: 1200px) {
  .section-intro__title {
    font-size: 150px;
    padding: 0px 70px 40px;
  }
  .section-intro__image--screen {
    display: block;
    width: 100%;
    height: 67vh;
    object-fit: cover;
  }
  .section-intro__image--mobile,
  .section-intro__image--tablet {
    display: none;
  }
}
.section-bio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid #252525;
}

.section-bio__text {
  padding: 30px 20px;
  font-family: "Gilroy-Light", sans-serif;
  font-weight: 300;
  font-size: 30px;
  text-align: center;
  color: #252525;
  width: 100%;
  box-sizing: border-box;
}
.section-bio__text--bold {
  font-family: "Gilroy-Bold", sans-serif;
  font-weight: 800;
}

.section-bio__contacts {
  background-color: #252525;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: end;
  gap: 30px;
  padding: 40px 30px;
}

.contacts__text {
  display: block;
  color: #fff;
  font-family: "Gilroy-Medium", sans-serif;
  font-weight: 400;
  font-size: 28px;
  text-transform: uppercase;
  text-align: right;
  line-height: 1;
}

.contacts__socialmedia {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.socialmedia-icon {
  display: inline-block;
  width: 50px;
  height: 50px;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .section-bio__text {
    padding: 30px;
    font-size: 52px;
  }
}
@media (min-width: 1200px) {
  .section-bio {
    flex-direction: row;
  }
  .section-bio__text {
    font-size: 62px;
    padding: 93px 70px;
    text-align: justify;
  }
  .section-bio__contacts {
    margin: 86px 0;
    padding: 60px 70px;
    width: fit-content;
  }
  .contacts__socialmedia {
    gap: 30px;
  }
  .contacts__text {
    font-size: 32px;
  }
}
.section-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: 20px;
  padding: 30px 20px;
  border-bottom: 1px solid #252525;
  padding: 70px;
  flex-wrap: wrap;
}

.section-logos__item {
  box-sizing: border-box;
  padding: 15px;
  border-radius: 50px;
  background-color: #fff;
}

.section-selected {
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
}

.section-selected__title {
  font-family: "Gilroy-Light", sans-serif;
  font-weight: 300;
  font-size: 80px;
  text-transform: uppercase;
  text-align: center;
  color: #252525;
  letter-spacing: 0.04em;
}

.section-selected__design {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.section-selected__img {
  display: block;
  width: 100%;
  height: 434px;
  background-position: center;
}

.section-selected__img1 {
  background-image: url(../images/trinity-work-1.jpg);
}

.section-selected__img2 {
  background-image: url(../images/trinity-work-2.jpg);
}

.section-selected__img3 {
  background-image: url(../images/morpheus-work-1.jpg);
}

.section-selected__img4 {
  background-image: url(../images/morpheus-work-2.jpg);
}

.section-selected__info {
  width: 100%;
}

.section-selected__subtitle {
  font-family: "Gilroy-Bold", sans-serif;
  font-weight: 400;
  font-size: 35px;
  text-transform: uppercase;
  color: #000;
  text-align: start;
}

.section-selected__link {
  display: inline-block;
  margin: 20px 30px 30px 0;
  border-radius: 50px;
  background-color: #fff;
  font-family: "Gilroy-Medium", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #252525;
  text-transform: capitalize;
  padding: 15px 30px;
  font-family: "Gilroy-Medium", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #252525;
}

.section-selected__wrapper--btn {
  display: flex;
  justify-content: flex-end;
}

.section-selected__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 50px;
  background-color: #252525;
  font-family: "Gilroy-Medium", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  text-transform: capitalize;
  padding: 10px 30px;
  text-transform: capitalize;
}

.btn__text {
  display: inline-block;
  text-align: center;
}

.section-selected__design--btn {
  border-radius: 50px;
  background-color: #fff;
  font-family: "Gilroy-Medium", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #252525;
  text-transform: capitalize;
  padding: 15px 60px;
  border: none;
  width: 100%;
  margin-top: 40px;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .section-selected {
    padding: 30px;
  }
  .section-selected__title {
    font-size: 150px;
  }
  .section-selected__design {
    gap: 30px;
  }
  .section-selected__img {
    height: 921px;
  }
  .section-selected__subtitle {
    font-size: 40px;
  }
  .section-selected__link {
    margin: 30px 30px 30px 0;
    padding: 10px 30px;
  }
  .section-selected__design--btn {
    width: fit-content;
    margin-top: 70px;
    align-self: center;
  }
}
@media (min-width: 1200px) {
  .section-selected {
    padding: 70px 70px 100px 70px;
  }
  .section-selected__title {
    font-size: 212px;
  }
  .section-selected__design {
    flex-direction: row;
    gap: 40px;
  }
  .section-selected__design--reverse {
    flex-direction: row-reverse;
    margin: 50px 0 70px 0;
  }
  .section-selected__img,
  .section-selected__info {
    height: 567px;
    position: relative;
    white-space: nowrap;
  }
  .section-selected__subtitle {
    font-size: 40px;
  }
  .section-selected__link {
    margin: 30px 30px 30px 0;
  }
  .section-selected__wrapper--btn {
    position: absolute;
    bottom: 0px;
    right: 0px;
  }
  .section-selected__design--btn {
    padding: 10px 60px;
    width: fit-content;
    margin-top: 70px;
    align-self: center;
  }
}
.section-team {
  padding: 30px 20px 50px 20px;
}

.section-team__title {
  font-family: "Gilroy-Light", sans-serif;
  font-weight: 300;
  font-size: 80px;
  text-transform: uppercase;
  text-align: center;
  color: #252525;
  font-size: 78px;
}

.section-team__wrapper {
  margin: 30px 0;
  display: grid;
  grid-template-columns: 1fr;
}

.section-team__member a {
  display: block;
  color: #333;
}

.section-team__member {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.team__member__name {
  font-family: "Gilroy-Bold", sans-serif;
  font-weight: 800;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 5px;
}

.team__member__position {
  font-family: "Gilroy-Medium", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}

.team__member__photo {
  width: 100%;
  height: 507px;
  margin: 15px 0;
}

.team__member__photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
}

.team__member__socialmedia img {
  margin-right: 10px;
  width: 30px;
  height: 30px;
}

.section-team__join {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  flex-direction: column;
  color: #333;
  font-weight: 400;
  text-transform: uppercase;
}

.section-team__join__title {
  display: block;
  font-family: "Gilroy-Light", sans-serif;
  font-size: 30px;
  text-align: center;
}

.section-team__join__text {
  margin: 15px 0;
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 40px;
  text-align: center;
}

.section-team__join__btn {
  border-radius: 50px;
  background-color: #252525;
  font-family: "Gilroy-Medium", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  text-transform: capitalize;
  padding: 10px 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .section-team {
    padding: 30px 30px 50px 30px;
  }
  .section-team__title {
    font-size: 150px;
  }
  .section-team__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 30px 40px;
  }
  .section-team__member {
    margin: 0;
    padding: 30px 0;
  }
  .team__member__name,
  .team__member__position {
    align-self: start;
  }
  .team__member__socialmedia {
    align-self: flex-end;
  }
  .section-team__join {
    align-items: start;
    grid-column: 1/-1;
    height: fit-content;
  }
  .section-team__join__text {
    font-size: 64px;
    text-align: start;
  }
  .section-team__join__btn {
    width: fit-content;
  }
}
@media (min-width: 1200px) {
  .section-team {
    padding: 50px 70px;
  }
  .section-team__title {
    font-family: "Gilroy-Light", sans-serif;
    font-weight: 300;
    font-size: 80px;
    text-transform: uppercase;
    text-align: center;
    color: #252525;
    font-size: 212px;
  }
  .section-team__wrapper {
    margin: 50px 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row: 1fr 1fr;
    grid-gap: 30px 40px;
    align-items: center;
  }
  .section-team__member {
    margin: 0;
    padding: 30px 0;
  }
  .team__member__name,
  .team__member__position {
    align-self: start;
  }
  .team__member__socialmedia {
    align-self: flex-end;
  }
  .section-team__join {
    align-items: start;
    grid-column: 3/-1;
    height: fit-content;
  }
  .section-team__join__btn {
    width: fit-content;
  }
  .section-team__join__title {
    display: block;
    text-align: start;
  }
  .section-team__join__text {
    font-size: 64px;
    text-align: start;
  }
}
.footer {
  padding: 20px 0;
  border-top: 1px solid #252525;
}

.footer-media__copyright {
  color: #333;
  font-family: "gilroyregular";
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: center;
}
.footer-media__copyright span {
  font-family: "gilroysemibold";
}
@media (min-width: 478px) {
  .footer-media__copyright {
    font-size: 18px;
  }
}
@media (min-width: 769px) {
  .footer-media__copyright {
    margin-bottom: 0;
  }
}
.footer-media__list {
  margin: 0 auto;
  display: flex;
  gap: 10px;
  width: 150px;
  height: auto;
}
@media (min-width: 769px) {
  .footer-media__list {
    margin: 0;
  }
}
.footer-media__item--facebook {
  background: url("images/socials/facebook-dark.svg");
}
.footer-media__item--twitter {
  background: url("images/socials/twitterbird-dark.svg");
}
.footer-media__item--linkedin {
  background: url("images/socials/linkedin-dark.svg");
}
.footer-media__item--dribble {
  background: url("images/socials/dribble_black.svg");
}
.footer-media__item--facebook, .footer-media__item--twitter, .footer-media__item--linkedin, .footer-media__item--dribble {
  width: 30px;
  height: 30px;
  display: inline-block;
}
@media (min-width: 769px) {
  .footer-media {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
  }
}

.contact-btn {
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 50px;
  background-color: #252525;
  color: #fff;
  font-size: 18px;
  font-family: "gilroymedium";
  border: none;
  padding: 10px 30px;
}
@media (min-width: 320px) {
  .contact-btn {
    width: 100%;
  }
}
@media (min-width: 769px) {
  .contact-btn {
    width: 197px;
  }
}

.contact {
  border-top: 1px solid #252525;
  padding: 30px 0 50px;
}
.contact__title {
  text-align: center;
  text-transform: uppercase;
  color: #252525;
  font-family: "gilroylight";
  font-size: 55px;
  font-weight: 300;
}
@media (min-width: 478px) {
  .contact__title {
    font-size: 80px;
  }
}
@media (min-width: 769px) {
  .contact__title {
    font-size: 150px;
  }
}
@media (min-width: 1201px) {
  .contact__title {
    font-size: 100px;
    text-align: left;
    line-height: 1.5;
  }
}
@media (min-width: 1400px) {
  .contact__title {
    font-size: 120px;
    line-height: 2;
  }
}
@media (min-width: 1920px) {
  .contact__title {
    font-size: 155px;
  }
}
.contact__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
  margin-top: 30px;
}
@media (min-width: 769px) {
  .contact__wrapper {
    margin-top: 40px;
  }
}
@media (min-width: 1201px) {
  .contact__wrapper {
    margin-top: 0;
    width: 50%;
    text-align: left;
    align-items: start;
  }
}
.contact__main-text {
  text-transform: uppercase;
  color: #252525;
  font-family: "gilroybold";
  font-weight: 400;
  font-size: 40px;
}
@media (min-width: 478px) {
  .contact__main-text {
    font-size: 50px;
  }
}
@media (min-width: 991px) {
  .contact__main-text {
    font-size: 64px;
  }
}
@media (min-width: 1201px) {
  .contact__main-text {
    font-size: 50px;
  }
}
@media (min-width: 1400px) {
  .contact__main-text {
    font-size: 64px;
  }
}
.contact__text {
  color: #252525;
  font-weight: 400;
  font-family: "gilroymedium";
  font-size: 20px;
}
@media (min-width: 478px) {
  .contact__text {
    font-size: 30px;
  }
}
@media (min-width: 991px) {
  .contact__text {
    font-size: 34px;
  }
}
@media (min-width: 1201px) {
  .contact__text {
    font-size: 30px;
  }
}
@media (min-width: 1400px) {
  .contact__text {
    font-size: 34px;
  }
}
@media (min-width: 1201px) {
  .contact {
    padding: 50px 0 100px;
  }
}

@media (min-width: 1201px) {
  .contact-container {
    display: flex;
    gap: 40px;
    padding-top: 50px;
  }
}

@media (min-width: 1201px) {
  .contact-title__wrapper {
    width: 50%;
  }
}

.what-i-do img {
  width: 320px;
  height: 320px;
}
@media (min-width: 321px) {
  .what-i-do img {
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 768px) {
  .what-i-do img {
    width: 768px;
    height: 768px;
  }
}
@media (min-width: 769px) {
  .what-i-do img {
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 1201px) {
  .what-i-do {
    display: flex;
  }
}

.what-i-do-content__title {
  color: #252525;
  font-family: "gilroylight";
  font-size: 80px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
}
@media (min-width: 769px) {
  .what-i-do-content__title {
    font-size: 150px;
    margin-top: 40px;
  }
}
@media (min-width: 1201px) {
  .what-i-do-content__title {
    font-size: 80px;
  }
}
@media (min-width: 1920px) {
  .what-i-do-content__title {
    font-size: 150px;
  }
}
@media (min-width: 1201px) {
  .what-i-do-content {
    padding: 30px 30px 30px 50px;
    width: 55%;
  }
}
@media (min-width: 1400px) {
  .what-i-do-content {
    padding: 40px 40px 40px 60px;
  }
}
@media (min-width: 1920px) {
  .what-i-do-content {
    padding: 70px 70px 70px 111px;
  }
}

.what-i-do-content-list {
  padding: 0 20px 20px;
  margin-top: 40px;
}
.what-i-do-content-list__item {
  border-bottom: 1px solid #252525;
  padding: 30px 0;
}
.what-i-do-content-list__item:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
.what-i-do-content-list__title {
  font-family: "gilroysemibold";
  font-weight: 400;
  text-transform: uppercase;
  font-size: 35px;
}
.what-i-do-content-list__title::before {
  content: "";
  display: inline;
  font-family: "gilroylight";
  font-size: 35px;
}
.what-i-do-content-list__text {
  font-size: 20px;
  font-family: "interregular";
  font-weight: 400;
  line-height: 28px;
  margin-top: 10px;
}
@media (min-width: 769px) {
  .what-i-do-content-list {
    padding: 0 30px 40px;
  }
  .what-i-do-content-list__item {
    padding: 40px 0;
  }
  .what-i-do-content-list__title {
    font-size: 44px;
    line-height: 48px;
  }
  .what-i-do-content-list__title::before {
    font-size: 44px;
  }
}
@media (min-width: 1201px) {
  .what-i-do-content-list {
    padding: 0;
  }
}

.list__title--first::before {
  content: "01";
}

.list__title--second::before {
  content: "02";
}

.list__title--third::before {
  content: "03";
}

.list__title--fourth::before {
  content: "04";
}

.clients {
  padding: 30px 0;
  border-top: 1px solid #252525;
}
.clients__cards {
  margin-top: 30px;
}
.clients__cards figure {
  height: 37px;
}
@media (min-width: 1201px) {
  .clients__cards {
    margin: 50px 0;
    display: grid;
    grid-template-columns: auto auto auto;
  }
}
.clients__item {
  padding: 40px 0;
  border-bottom: 1px solid #252525;
}
.clients__item:last-child {
  border-bottom: none;
}
@media (min-width: 1201px) {
  .clients__item {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
  }
  .clients__item--border-right {
    border-right: 1px solid #252525;
  }
}
.clients__title {
  font-family: "gilroylight";
  font-weight: 800;
  color: #333;
  font-size: 25px;
  margin-top: 30px;
}
@media (min-width: 478px) {
  .clients__title {
    font-size: 40px;
    line-height: 44px;
  }
}
@media (min-width: 1201px) {
  .clients__title {
    font-size: 28px;
    margin: 0;
    font-family: "gilroybold";
  }
}
@media (min-width: 1400px) {
  .clients__title {
    font-size: 32px;
  }
}
@media (min-width: 1920px) {
  .clients__title {
    font-size: 40px;
  }
}
.clients__text {
  font-family: "interregular";
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 30px;
}
@media (min-width: 1201px) {
  .clients__text {
    margin: 0;
    font-size: 15px;
  }
}
@media (min-width: 1400px) {
  .clients__text {
    font-size: 18px;
  }
}
@media (min-width: 1920px) {
  .clients__text {
    font-size: 20px;
  }
}
@media (min-width: 1201px) {
  .clients {
    padding: 50px 0;
  }
}

.section__title {
  font-family: "gilroylight";
  color: #252525;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.04em;
}
@media (min-width: 320px) and (max-width: 475px) {
  .section__title {
    font-size: 51px;
  }
}
@media (min-width: 769px) and (max-width: 990px) {
  .section__title {
    font-size: 110px;
    letter-spacing: 6px;
  }
}

.client {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.client img {
  margin-right: 20px;
}
.client figcaption {
  font-family: "interregular";
  font-size: 15px;
  line-height: 20px;
}
@media (min-width: 478px) {
  .client figcaption {
    font-size: 20px;
  }
}
.client__name {
  font-weight: 600;
}
.client__role {
  font-weight: 400;
  margin-top: 10px;
}
@media (min-width: 1201px) {
  .client {
    margin: 0;
  }
}

@media (min-width: 1201px) {
  .border-fixed {
    border-bottom: none;
  }
}

@font-face {
  font-family: "interregular";
  src: url("../fonts/inter-variablefont_slntwght-webfont.woff2") format("woff2"), url("../fonts/inter-variablefont_slntwght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "gilroybold";
  src: url("../fonts/gilroy-bold-webfont.woff2") format("woff2"), url("../fonts/gilroy-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "gilroyextrabold";
  src: url("../fonts/gilroy-extrabold-webfont.woff2") format("woff2"), url("../fonts/gilroy-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "gilroylight";
  src: url("../fonts/gilroy-light-webfont.woff2") format("woff2"), url("../fonts/gilroy-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "gilroymedium";
  src: url("../fonts/gilroy-medium-webfont.woff2") format("woff2"), url("../fonts/gilroy-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "gilroyregular";
  src: url("../fonts/gilroy-regular-webfont.woff2") format("woff2"), url("../fonts/gilroy-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "gilroysemibold";
  src: url("../fonts/gilroy-semibold-webfont.woff2") format("woff2"), url("../fonts/gilroy-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*# sourceMappingURL=main.css.map */
