@import './mixin';


.header {
    @include flex-center (space-between);
    padding: 20px;
    
}
.header__logo--wrapper {
    display: flex;
    gap: 10px;
    align-items: center;

}

.header__logo {
    display: inline-block;
}
.logo-name {
    display: none;
    color: $secondary-font-color;
    font-size: $font-size-s-tablet;
    letter-spacing: -0.02em;
    text-align: center;
    position: relative;

    &--bold {
        font-family: $font3;
        font-weight: $font-weight-heavy;
        vertical-align: bottom;
        
    }
    &--caps {
        font-family: $third-font-family;
        font-weight: $font-weight-medium;
        
        text-transform: uppercase;
        vertical-align: bottom;
    }
    &--symbol {
        font-size: 25px;
        position: absolute;
        top: 2px;
        right: -25px;
    }

}
.header__menu {
    text-transform: uppercase;
    font-family: $font4;
    font-weight: $font-weight-medium;
    font-size: 25px;
    text-align: center;
}
@media (min-width: 768px) and (max-width: 1200px) {
    .header {
        padding: 40px 30px;
        }
        .header__logo {
            padding: 4px;
        }
        .logo-name {
            display: inline-block;
        }
}

@media (min-width:1200px) {
    .header {
        padding: 40px 70px 30px 70px;
        }
        .header__logo {
            padding: 4px;
        }
        .logo-name {
            display: inline-block;
        }
}