
 @mixin flex-center ($justify-content: center, $align-items: center) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
 }

 @mixin button ($background-color: $third-font-color, $color: $primary-font-color){
   border-radius: 50px;
   background-color: $background-color;
   font-family: $third-font-family;
   font-weight: $font-weight-medium;
   font-size: 18px;
   color: $color;
   text-transform: capitalize;
}

@mixin title {
   font-family: $second-font-family;
   font-weight: $font-weight-light;
   font-size: $font-size-xl-mobile;
   text-transform: uppercase;
   text-align: center;
   color: $primary-font-color;
}

@mixin btn-style {
   height: 53px;
   display: flex;
   align-items: center;
   justify-content: center;
   text-decoration: none;
   cursor: pointer;
   border-radius: 50px;
   background-color: $dark-color;
   color: $white-color;
   font-size: 18px;
   font-family: $medium;
   border: none;
}

@mixin section-title {
   font-family: $light;
   color: $dark-color;
   font-weight: 300;
   text-transform: uppercase;
   text-align: center;
   letter-spacing: 0.04em;
} 