@import './mixin';
@import './variables';

.section-intro {
    @include flex-center;
    flex-direction: column;
    width: 100%
    // width: 100vw;
}
.section-intro__title {
    @include flex-center;
    flex-direction: column;
    color: $primary-font-color;
    font-size: $font-size-l-mobile;
    padding: 10px 20px 14px;
    text-align: center;

    &--bold {
        display: block;
        font-family: $font4;
        font-weight: $font-weight-medium;
        text-transform: uppercase;
        text-align: center;
        
    }
    &--light {
        display: block;
        font-family: $second-font-family;
        font-weight: $font-weight-light;
        text-transform: capitalize;
    }
    &--icon {
        padding-top: 30px;
    }
}
.section-intro__image--mobile {
    display: block;
    width: 100%;
    height: 67vh;
    object-fit: cover;
}
.section-intro__image--tablet,
.section-intro__image--screen {
    display: none;
}

@media (min-width: 768px) and (max-width: 1200px) {
    .section-intro__title {
        font-size: $font-size-l-tablet;
        padding: 0px 70px 40px;
    }
    .section-intro__image--tablet {
        display: block;
        width: 100%;
        height: 67vh;
        object-fit: cover;
    }
    .section-intro__image--mobile,
    .section-intro__image--screen {
    display: none;
}
}
@media (min-width:1200px) {
    .section-intro__title {
        font-size: $font-size-l;
        padding: 0px 70px 40px;
    }
    .section-intro__image--screen {
        display: block;
        width: 100%;
        height: 67vh;
        object-fit: cover;
    }
    .section-intro__image--mobile,
    .section-intro__image--tablet {
    display: none;
}
}