@import "./mixin";
@import "./variables";

.section-selected {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
}
.section-selected__title {
    @include title;
    letter-spacing: 0.04em;
    font-size: 60px;
}
.section-selected__design {
    margin-top: 30px;
    @include flex-center;
    flex-direction: column;
    gap: 20px;
}
.section-selected__img {
    display: block;
    width: 100%;
    height: 434px;
    // object-fit: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.section-selected__img1 {
    background-image: url(../images/trinity-work-1.jpg);
}
.section-selected__img2 {
    background-image: url(../images/trinity-work-2.jpg);
}
.section-selected__img3 {
    background-image: url(../images/morpheus-work-1.jpg);
}
.section-selected__img4 {
    background-image: url(../images/morpheus-work-2.jpg);
}
.section-selected__info {
    width: 100%;
}
.section-selected__subtitle {
    font-family: $font3;
    font-weight: $font-weight-medium;
    font-size: 35px;
    text-transform: uppercase;
    color: $secondary-font-color;
    text-align: start;
}
.section-selected__link {
    display: inline-block;
    margin: 20px 30px 30px 0;
    @include button;
    padding: 15px 30px;

    font-family: $third-font-family;
    font-weight: $font-weight-medium;
    font-size: 18px;
    color: $primary-font-color;
}
.section-selected__wrapper--btn {
    display: flex;
    justify-content: flex-end;
}
.section-selected__btn {
    @include flex-center;
    gap: 10px;
    @include button ($primary-font-color, $third-font-color);
    padding: 10px 30px;
    text-transform: capitalize;
}
.btn__text {
    display: inline-block;
    text-align: center;
}
.section-selected__design--btn {
    @include button;
    padding: 15px 60px;
    border: none;
    width: 100%;
    margin-top: 40px;
}

@media (min-width: 768px) and (max-width: 1200px) {
    .section-selected {
        padding: 30px;
    }
    .section-selected__title {
        font-size: $font-size-l;
    }
    .section-selected__design {
        gap: 30px;
    }
    .section-selected__img {
        height: 921px;
    }
    .section-selected__subtitle {
        font-size: 40px;
    }
    .section-selected__link {
        margin: 30px 30px 30px 0;
        padding: 10px 30px;
    }
    .section-selected__design--btn {
        width: fit-content;
        margin-top: 70px;
        align-self: center;
    }
}
@media (min-width: 1200px) {
    .section-selected {
        padding: 70px 70px 100px 70px;
    }
    .section-selected__title {
        font-size: $font-size-xl;
    }
    .section-selected__design {
        flex-direction: row;
        gap: 40px;
    }
    .section-selected__design--reverse {
        flex-direction: row-reverse;
        margin: 50px 0 70px 0;
    }
    .section-selected__img, 
    .section-selected__info {
        // width: 567px;
        height: 567px;
        // flex-basis: 32%;
        position: relative;
        white-space: nowrap;
    }
    .section-selected__subtitle {
        font-size: 40px;
    }
    .section-selected__link {
        margin: 30px 30px 30px 0;
    }
    .section-selected__wrapper--btn {
        position: absolute;
        bottom: 0px;
        right: 0px;
    }
    .section-selected__design--btn {
        padding: 10px 60px;
        width: fit-content;
        margin-top: 70px;
        align-self: center;
    }
}