@import "./variables";
@import "./mixin";

.section-logos {
    @include flex-center (space-between);
    align-content: center;
    gap: 20px;
    padding: 30px 20px;
    border-bottom: 1px solid $primary-font-color;
    padding: 70px;
    flex-wrap: wrap;
}
.section-logos__item {
    box-sizing: border-box;
    padding: 15px;
    border-radius: 50px;
    background-color: $third-font-color;
}
