@import "./mixin";
@import "./variables";

.section-team {
    padding: 30px 20px 50px 20px;
}
.section-team__title {
    @include title;
    font-size: 78px;
}
.section-team__wrapper {
    margin: 30px 0;
    display: grid;
    grid-template-columns: 1fr;
}
.section-team__member a {
    display: block;
    color: $forth-font-color;
}
.section-team__member {
    margin: 20px 0;
    @include flex-center;
    flex-direction: column;
}
.team__member__name {
    font-family: $font3;
    font-weight: $font-weight-heavy;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 5px;
}
.team__member__position {
    font-family: $third-font-family;
    font-weight: $font-weight-medium;
    font-size: $font-size-xs;
    text-align: center;
}
.team__member__photo {
    width: 100%;
    height: 507px;
    margin: 15px 0;
}
.team__member__photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
}
.team__member__socialmedia img {
    margin-right: 10px;
    width: 30px;
    height: 30px;
}
.section-team__join {
    @include flex-center;
    margin-top: 30px;
    flex-direction: column;
    color: $forth-font-color;
    font-weight: $font-weight-medium;
    text-transform: uppercase;
}
.section-team__join__title {
    display: block;
    font-family: $second-font-family;
    font-size: 30px;
    text-align: center;
}
.section-team__join__text {
    margin: 15px 0;
    font-family: $font3;
    font-size: 40px;
    text-align: center;
}
.section-team__join__btn {
    @include button ($primary-font-color, $third-font-color);
    padding: 10px 30px;
    width: 100%;
    @include flex-center;
    gap: 10px;
}

@media (min-width: 768px) and (max-width: 1200px){
    .section-team {
        padding: 30px 30px 50px 30px;
    } 
    .section-team__title {
        font-size: $font-size-l;
    }
    .section-team__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-gap: 30px 40px;
    }
    .section-team__member {
        margin: 0;
        padding: 30px 0;
    }
    .team__member__name, 
    .team__member__position {
        align-self: start;
    }
    .team__member__socialmedia {
        align-self: flex-end;
    }
    .section-team__join {
        align-items: start;
        grid-column: 1 / -1;
        height: fit-content;
    }
    .section-team__join__text {
        font-size: 64px;
        text-align: start;
    }
    .section-team__join__btn {
        width: fit-content;
    }
}
@media (min-width: 1200px) {
    .section-team {
        padding: 50px 70px;
    }
    .section-team__title {
        @include title;
        font-size: $font-size-xl;
    }
    .section-team__wrapper {
        margin: 50px 0;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-row: 1fr 1fr;
        grid-gap: 30px 40px;
        align-items: center;
    }
    .section-team__member {
        margin: 0;
        padding: 30px 0;
    }
    .team__member__name, 
    .team__member__position {
        align-self: start;
    }
    .team__member__socialmedia {
        align-self: flex-end;
    }
    .section-team__join {
        align-items: start;
        grid-column: 3 / -1;
        height: fit-content;
    }
    .section-team__join__btn {
        width: fit-content;
    }
    .section-team__join__title {
        display: block;
        text-align: start;
    }
    .section-team__join__text {
        font-size: 64px;
        text-align: start;
    }
}