@import "./mixin";
@import "./variables";

.section-bio {
    @include flex-center;
    flex-direction: column;
    border-bottom: 1px solid $primary-font-color;
}
.section-bio__text {
    padding: 30px 20px;
    font-family: $second-font-family;
    font-weight: $font-weight-light;
    font-size: $font-size-s-mobile;
    text-align: center;
    color: $primary-font-color;
    width: 100%;
    box-sizing: border-box;

    &--bold {
        font-family: $font3;
        font-weight: $font-weight-heavy;
    }
}
.section-bio__contacts {
    background-color: $primary-font-color;
    width: 100%;
    box-sizing: border-box;
    @include flex-center;
    flex-direction: column;
    align-items: end;
    gap: 30px;
    padding: 40px 30px;
}
.contacts__text {
    display: block;
    color: $third-font-color;
    font-family: $third-font-family;
    font-weight: $font-weight-medium;
    font-size: 28px;
    text-transform: uppercase;
    text-align: right;

// line-height: 28px; 
    line-height: 1;
}
.contacts__socialmedia {
    @include flex-center;
    gap: 20px;
}
.socialmedia-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
}
@media (min-width: 768px) and (max-width: 1200px) {
    .section-bio__text {
        padding: 30px;
        font-size: $font-size-m;
    }
} 
@media (min-width: 1200px) {
    .section-bio {
        flex-direction: row;
    }
    .section-bio__text {
        font-size: $font-size-s-screen;
        padding: 93px 70px;
        text-align: justify;
    }
    .section-bio__contacts {
        margin: 86px 0;
        padding: 60px 70px;
        width: fit-content;
    }

    .contacts__socialmedia {
        gap: 30px;

    }
    .contacts__text {
        font-size: 32px;
    }

}