@import url('https://fonts.cdnfonts.com/css/gilroy-light');
@import url('https://fonts.cdnfonts.com/css/gilroy-bold');
@import url('https://fonts.cdnfonts.com/css/gilroy-heavy');
@import url('https://fonts.cdnfonts.com/css/gilroy-medium');
@import url('https://fonts.cdnfonts.com/css/gilroy-regular');
@import url('https://fonts.cdnfonts.com/css/gilroy-semibold');


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


$primary-font-family: 'Inter', sans-serif;
$second-font-family: 'Gilroy-Light', sans-serif;
$third-font-family: 'Gilroy-Medium', sans-serif;
$font3: 'Gilroy-Bold', sans-serif;
$font4: 'Gilroy-SemiBold', sans-serif;
$font-size-xs: 20px;
$font-size-s: 44px;
$font-size-s-tablet: 35px;
$font-size-l: 150px;
$font-size-xl-mobile: 80px;
$font-size-xl: 212px;
$font-size-m: 52px;
$font-size-s-mobile: 30px;
$font-size-l-tablet: 98px;
$font-size-s-screen: 62px;
$font-size-l-mobile: 47px;

$font-weight-heavy: 800;
$font-weight-medium: 400;
$font-weight-light: 300;

$primary-background:#F5F3EA;
$primary-font-color: #252525;
$secondary-font-color: #000;
$third-font-color: #fff;
$forth-font-color: #333;

$inter: 'interregular';
$bold: 'gilroybold';
$extra: 'gilroyextrabold';
$light: 'gilroylight';
$medium: 'gilroymedium';
$regular: 'gilroyregular';
$semi-bold: 'gilroysemibold';
$dark-color:#252525;
$white-color: #fff;


